<!DOCTYPE HTML>
<html>
<head>
</head>

<body>
Add new user:
{{#info}}
    {{info}}
{{/info}}
<form action="/registration" method="post">
    <div><label>Username: <input type="text" name="username"/></label></div>
    <div><label>Password: <input type="password" name="password"/></label></div>
    <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
    <div><input type="submit" value="Sign up"/></div>
</form>
</body>
</html>